<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
     <mapper namespace="spring.blog.mvc.repository.NoticeMapper">
     	<insert id="writeNotice" parameterType="noticeDTO">
     		insert into board values(notice_seq.nextval, #{writer}, #{title}, #{content}, sysdate, 0, #{boardnum}, ${files}, #{tablenum})
     	</insert>
     	
     </mapper>