<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
     <mapper namespace="spring.blog.mvc.repository.NoticeMapper">
     	<select id="noticeListCount" parameterType="int" resultType="int">
     		select count(*) board where tablenum=#{tablenum}
     	</select>
     	<select id="contentNum" parameterType="int" resultType="int">
     		select NVL(max(num),0) from board where tablenum=#{tablenum}
     	</select>
     	<insert id="writeNotice" parameterType="spring.blog.mvc.bean.BoardDTO">
     		insert into board values(board_seq.nextval, #{writer}, #{title}, #{content}, sysdate, 0, #{boardnum}, ${files}, #{tablenum})
     	</insert>
     	<insert id="fileUpload">
     		insert into files values(board_file_seq.nextval, #{boardnum}, #{filename}, #{tablenum})
     	</insert>
     	
     	<select id="noticeList" parameterType="java.util.HashMap" resultType="spring.blog.mvc.bean.BoardDTO">
     		<![CDATA[
     		select * from (select b.*, rownum r from (select * from board order by reg_date desc) b) where r >= #{start} and r <= #{end} and tablenum=#{tablenum}
     		]]>
     	</select>
     </mapper>